
{{!-- display single post --}}
<a href="/post/{{id}}">
  <article>
    <div class="title">
      <h2>{{title}}</h2>
      by {{user.username}} on {{format_date created_at}}
    </div>
    <div class="content">
      <p>{{post_content}}</p>
    </div>
  </article>
</a>