  {{! list of comments on single post }}
<section>
  <div class="comment-header">
    <h3>{{length}} {{format_plural "comment" length}}</h3>
  </div>
  {{#each this}}
  <article class="item">
    <div class="content comments">
      {{comment_text}}
    </div>
    <div class="content byline">
      - {{user.username}} on {{format_date created_at}}
    </div>
  </article>
  {{/each}}
</section>