{{! list of comments on single post }}
{{#if comments.length}}
<section>
    <ol>
    {{#each comments as |comment|}}
    <li>
        <div>
        You commented on 
        <a href="/post/{{post.id}}">{{post.title}}</a>
        by {{post.user.username}} on {{format_date created_at}}
        </div>
        <div>
        {{comment_text}}
        </div>
        <a id="get-comment" href="/dashboard/edit-comment/{{comment.id}}">Edit/delete comment</a>
    </li>
    {{/each}}
    </ol>
</section>
{{else}}
    <div>You have have not made any comments yet.</div>
    <a href="/dashboard">Click here to go back to your dashboard.</a>
{{/if}}
